body, html{
  height: 100vh;
  margin: 0;
}
.light-theme {
  background-color: white;
  color: black;
  transition: all 0.3s ease-in-out;
}

.dark-theme {
  background-color: #233;
  color: white;
  transition: all 0.3s ease-in-out;
}
.app-container{
  display: flex;
  flex-direction: column;
}
/* styles.css */
.custom-link {
  color: antiquewhite;
  text-decoration: none;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  display: inline-block; /* Prevents layout shift */
}

.custom-link:hover {
  color: white; /* Slightly different color for a better effect */
  transform: scale(1.1);
}

