body,html{
  height: 100vh;
  background-color: #222;
  color: antiquewhite;
}

.app-container{
  display: grid;
  grid-template-columns: 250px 3fr;
}

.sidebar{
  display: flex;
  flex-direction: column;
  border : 2px solid black;
  border-top: 0px;
  width:250px;
  height: 100vh;
}

.sidebar > h1{
  text-align: center;
  border-bottom: 2px solid brown;
  padding-bottom: 2rem;
  background-color: rgb(81, 81, 155);
  padding: 1.6rem;
  margin-top: 0px;
}

.sidebar-components{
  display: flex;
  flex-direction: column;
  gap :3rem;
  list-style: none;
  font-size: 20px;
  transition: transform 0.3s ease;

}

.sidebar-components > li:hover{
  transform: scale(1.1);
}

.Header{
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 1.6rem;
  background-color: rgb(81, 81, 155);
  padding-bottom: 2rem;
  background-color: rgb(81, 81, 155);
}
.balances{
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  font-size: 1.2rem;
}

.details{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.add-trans{
  padding: 2rem;
  display: flex;
  gap : 1.5rem;
  flex-direction: column;
  width: max-content;
}

.add-trans > h2{
  width: 300px;
}

.add-trans > input, button{
  height: 2rem;
  width: 300px;
  gap : 1.5rem;
  background-color: #222;
  border: 2px solid blueviolet;
  color: white;
}

.recent-trans{
  padding: 2rem;
  font-size: 1.2rem;
  width: max-content;
}

.table-container {
  height: auto;
  width: 300px;
  text-align: center;
  overflow-y: auto;
  border: 1px solid black;
}

.deletebtn, .editbtn{
  width: 50px;
}

@media screen and (max-width: 700px) {
  .details{
    grid-template-columns: 1fr;
    height: 300px;
    grid-template-rows: 1fr 1fr;
  }
  
}